################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TSQL_Parser/.vs
/TSQL_Parser/TSQL_Parser/obj/
/TSQL_Parser/TSQL_Parser/bin/
/TSQL_Parser/Tests/bin/
/TSQL_Parser/Tests/obj/
/TSQL_Parser/packages
*.user
