################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/TSQL_Parser/.vs
/TSQL_Parser/packages
*.user
/TSQL_Parser/TSQL_Parser/TSQL.Parser.*.nupkg
/TSQL_Parser/TSQL_Parser/TSQL_Parser.xml
/TSQL_Parser/TSQL_Parser/project.lock.json
**/bin/*
**/obj/*