################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TSQL_Parser/.vs/TSQL_Parser/v14
