<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.io" version="1.4.2" targetFramework="net452" />
  <package id="NUnit" version="3.10.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net452" />
  <package id="OpenCover" version="4.7.922" targetFramework="net452" />
  <package id="ReportGenerator" version="3.1.2" targetFramework="net452" />
</packages>